version: '3'
services:
  sample-webapp2:
    build:
      context: .
      dockerfile: Dockerfile_Maven
    image: local_build
    read_only: false
    container_name: sample-webapp2
    security_opt:
      - no-new-privileges:true
    ports:
     - 8089:8080
     # Learning@123
    #volumes:
    # - /data/artifactory:/var/opt/jfrog/artifactory
#    Add extra Java options by uncommenting the following lines
#    environment:
#     - EXTRA_JAVA_OPTIONS=-Xms512m -Xmx4g
